body {
  font-family: 'Oxygen', sans-serif;
  padding-bottom: 40px;
  color: #5a5a5a;
}

.navbar-wrapper {
  position: relative;
  z-index: 15;
}

.featurette-divider {
  margin: 40px 0; /* Space out the Bootstrap <hr> more */
}

@media (min-width: 768px) {

  .navbar-wrapper {
    margin-top: 20px;
  }

  .navbar-wrapper .navbar {
    border-radius: 4px;
  }

  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }

}